body {
  font-family: "Raleway", sans-serif;
  color: rgb(138, 138, 138);
  background-color: rgb(241, 241, 241);
}

.leftbar {
  position: absolute;
  width: 18%;
  height: 100%;
  background-color: white;
  border-right-style: inset;
}

.topbar {
  position: relative;
  height: 70px;
  background-color: white;
}

#logo {
  position: relative;
  top: 20%;
  left: 1%;
}

#bars {
  position: relative;
  font-size: 22px;
  top: 25%;
  left: 6%;
}

#search {
  position: absolute;
  top: 23%;
  left: 22%;
  width: 15%;
  font-size: 14px;
  border-radius: 20em;
}

.fa-search {
  position: absolute;
  top: 37%;
  left: 35%;
}

#plus {
  position: absolute;
  top: 37%;
  left: 40%;
}

.fa-user-plus {
  position: absolute;
  top: 37%;
  left: 50.3%;
}

.fa-user-tie {
  position: absolute;
  top: 37%;
  left: 63%;
}

.img-profile {
  width: 55px;
  height: 60px;
  margin-top: 10px;
}

.leftbar li {
  list-style-type: none;
}
